.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: yellow;
  gap: 20px;

  .content-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(252, 252, 252, 0.1);
  }

  .why-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    // background-color: red;

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      color: rgba(137, 188, 217, 1);
    }

    .why-text {
      // width: 100%;
      display: flex;
      justify-content: center;
      gap: 52px;
      // background-color: red;
      margin-right: 100px;
      padding-top: 95px;

      .location {
        // width: 50%;
        display: flex;
        justify-content: center;
        // align-items: center;
        // gap: 8px;
        // background-color: orange;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%;

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 86px;
          height: 52px;
        }

        .blue {
          color: rgba(137, 188, 217, 1);
        }
      }

      .why {
        width: 300px;
        height: 180px;
        display: flex;
        flex-direction: column;
        // background-color: orange;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;

        button {
          width: 134px;
          height: 48px;
          display: flex;
          justify-content: center;
          position: absolute;
          right: 0;
          bottom: 0;
          // background-color: red;
          border: none;

          img {
            width: 100%;
            height: 100%;
            background-color: rgba(38, 46, 52, 1);
          }
        }
      }
    }
  }

  .my-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: green;
    padding-top: 104px;

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 80px;
      color: rgba(137, 188, 217, 1);
    }

    .skill-section {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px;

      .skills {
        width: 32%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        img {
          width: 66x;
          height: 100px;
        }
      }

      .learning {
      }
    }
  }

  .my-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 80px;
      color: rgba(137, 188, 217, 1);
    }

    .project-nav {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 37px;
      // background-color: red;

      font-size: 30px;
      font-weight: 500;
      line-height: 120%;
      color: rgba(137, 188, 217, 1);
      padding-bottom: 20px;
    }

    .project-content {
      width: 100%;
      height: 548px;
      display: flex;
      justify-content: space-evenly;
      background-color: rgba(45, 56, 63, 1);
      padding-top: 20px;

      .text {
      }

      .projects {
      }
    }
  }

  .my-comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .comments {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 8px;

      .comment {
        // color: black;
      }
    }
  }

  .my-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: red;

    .scroll-section {
      display: flex;
      position: absolute;
      right: 8px;
      top: 10px;

      button {
        border: none;
        border-radius: 40%;
        // background-color: rgba(252, 252, 252, 0.1);
        background-color: rgba(38, 46, 52, 1);

        img {
          width: 38px;
          height: 89px;
        }
      }
    }

    .contact-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .info {
        // width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;

        .contact {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }

      .inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
      }

      .accept-check {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 8px;
      }
    }
  }
}
