uter<!-- <p>my-skills works!</p> -->

<section id="skillSection" class="my-skills">
  <div class="content-wrapper">
    <h2>{{ 'content-skills' | translate }}</h2>
    <section class="skill-section">
      <section class="skills">
        <!-- Skill Kacheln -->
        <img [src]="'assets/icon/angular.png'" alt="Angular" />
        <img [src]="'assets/icon/ts.png'" alt="TypScript" />
        <img [src]="'assets/icon/js.png'" alt="JavaScript" />
        <img [src]="'assets/icon/html.png'" alt="HTML" />
        <img [src]="'assets/icon/css.png'" alt="CSS" />
        <img [src]="'assets/icon/git.png'" alt="Git" />
        <img [src]="'assets/icon/supabase.png'" alt="Supabase" />
      </section>
      <section class="learning">
        <!-- Learning // Learning Bild austauschen in eigene Texte-->
        <img [src]="'assets/icon/learning.png'" alt="Learning Bubble" />
      </section>
    </section>
  </div>
</section>
