<section class="imprint">
  <app-header></app-header>

  <section class="imprint-content">
    <h3>{{ 'imprint-h3' | translate }} <span>Andre Strauch</span></h3>
    <br />
    <p>
      Nobiskrüger Allee 85 <br />
      24768 Rendsburg <br />
      E-Mail: andrestrauch@gmx.de<br /><br />
    </p>

    <h4>
      <span>{{ 'imprint-h4' | translate }}</span>
    </h4>
    <p>
      {{ 'imprint-txt1' | translate }}
      <br />
      {{ 'imprint-txt2' | translate }}
    </p>
    <br />

    <h4>
      {{ 'imprint-h5' | translate }} <span>{{ 'imprint-h5Span' | translate }}</span
      >{{ 'imprint-h5Txt' | translate }}
    </h4>
    <br />
    <p>
      <span>Developer Akademie </span>GmbH <br />
      Tassiloplatz 25<br />
      81541 München <br />
      E-Mail: info@developerakademie.com <br />
    </p>
  </section>
</section>
