<!-- <p>my-comments works!</p> -->

<section class="my-comments">
  <div class="content-wrapper">
    <h2>{{ 'content-commtary' | translate }}</h2>

    <section class="comments">
      <article class="comment">
        <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
        <p>Comment1</p>
      </article>
      <article class="comment">
        <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
        <p>Comment2</p>
      </article>
      <article class="comment">
        <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
        <p>Comment3</p>
      </article>
    </section>
  </div>
</section>
