.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: yellow;
  gap: 20px;

  .content-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: rgba(252, 252, 252, 0.1);
  }

  .why-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;
    // background-color: red;

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      color: rgba(137, 188, 217, 1);
    }

    .why-text {
      // width: 100%;
      display: flex;
      justify-content: center;
      gap: 52px;
      // background-color: red;
      margin-right: 100px;
      padding-top: 95px;

      .location {
        // width: 50%;
        display: flex;
        justify-content: center;
        // align-items: center;
        // gap: 8px;
        // background-color: orange;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%;

        img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 86px;
          height: 52px;
        }

        .blue {
          color: rgba(137, 188, 217, 1);
        }
      }

      .why {
        width: 300px;
        // height: 210px;
        display: flex;
        flex-direction: column;
        // background-color: orange;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        padding-bottom: 60px;

        a {
          height: 48px;
          width: 134px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          position: absolute;
          right: 0;
          bottom: 0;
          border: none;

          img {
            width: 134px;
            height: 48px;
            background-color: rgba(38, 46, 52, 1);

            &:hover {
              cursor: pointer;
              border-radius: 30px;
              background-color: rgba(248, 245, 236, 0.12);
            }
          }
        }
      }
    }
  }

  .my-skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: green;
    padding-top: 104px;

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 80px;
      color: rgba(137, 188, 217, 1);
    }

    .skill-section {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 80px;

      .skills {
        width: 32%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;

        img {
          width: 66x;
          height: 100px;
        }
      }

      // .learning {
      // }
    }
  }

  .my-projects {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;

    :host {
      // font-family: var(--inter-font);
      display: flex;
      justify-content: center;
    }
    [ngTabs] {
      overflow: hidden;
      width: 100%;
      // max-width: 1440px;
      border-radius: 0.5rem;
      // border: 1px solid black;
    }
    [ngTabList] {
      padding: 0;
      display: flex;
      list-style: none;
      position: relative;
      // border-bottom: 1px solid black;
    }
    [ngTab] {
      flex: 1;
      outline: none;
      cursor: pointer;
      text-align: center;
      color: rgba(137, 188, 217, 1);
      width: 100%;
      max-width: 1440px;
      font-size: 30px;
      font-weight: 500;
      line-height: 120%;
      padding: 28px;
    }
    [ngTab][aria-selected='false']:focus {
      // outline-offset: -8px;
      // border-radius: 0.7rem;
      // outline: 2px solid black;
    }
    [ngTab]:hover {
      color: white;
    }
    [ngTab][aria-selected='true'] {
      color: white;
      background-color: rgba(45, 56, 63, 1);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
    .sliding-window {
      width: 300%;
      display: flex;
      transition: all 0.2s ease-in-out;
    }
    [ngTabList]:has([ngTab]:nth-child(1)[aria-selected='true']) ~ .sliding-window {
      transform: translateX(0%);
    }
    [ngTabList]:has([ngTab]:nth-child(2)[aria-selected='true']) ~ .sliding-window {
      transform: translateX(-33.333%);
    }
    [ngTabList]:has([ngTab]:nth-child(3)[aria-selected='true']) ~ .sliding-window {
      transform: translateX(-66.666%);
    }
    [ngTabPanel] {
      display: grid;
      place-items: center;
      // padding: 1rem;
      min-height: 100px;
      flex: 1;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    [ngTabPanel]:focus {
      border-radius: 30px;
    }

    h2 {
      font-size: 60px;
      font-weight: 400;
      line-height: 120%;
      padding-bottom: 80px;
      color: rgba(137, 188, 217, 1);
    }

    .project-content {
      width: 100%;
      height: 548px;
      display: flex;
      justify-content: center;
      background-color: rgba(45, 56, 63, 1);
      padding-top: 40px;
      gap: 56px;

      .project-wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        justify-content: center;
        // background-color: red;
      }

      .text {
        width: 40%;
        .about {
          display: flex;
          align-items: center;
          padding-bottom: 16px;
          gap: 21px;

          img {
            width: 29px;
            height: 26px;
          }

          h3 {
            font-size: 28px;
            font-weight: 400;
            line-height: 120%;
          }
        }

        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 120%;
          padding-left: 50px;
          padding-bottom: 36px;
        }
      }

      .projects {
        width: 40%;
        // background-color: rgba(0, 0, 0, 0.244);
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding-top: 40px;

        h4 {
          font-size: 18px;
          font-weight: 400;
          line-height: 120%;
          padding-bottom: 12px;
        }

        .tech-icons {
          display: flex;
          gap: 32px;
          padding-bottom: 16px;
        }

        .game-img {
          width: 453px;
          height: 312px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .project-btn {
          padding-top: 34px;
          display: flex;
          gap: 40px;

          .btn {
            border-radius: 30px;
            padding: 10px;
            font-size: 18px;
            font-weight: 400;
            line-height: 120%;
          }

          .test-btn {
            width: 132px;
            height: 48px;
            background-color: rgba(137, 188, 217, 1);
            color: rgba(38, 46, 52, 1);
            border: 1px solid gba(38, 46, 52, 1);
          }

          .test-btn:hover {
            background-color: white;
          }

          .github-btn {
            width: 120px;
            height: 48px;
            background-color: rgba(38, 46, 52, 1);
            color: rgba(137, 188, 217, 1);
            border: 1px solid rgba(137, 188, 217, 1);
          }

          .github-btn:hover {
            border-radius: 30px;
            background-color: rgba(248, 245, 236, 0.12);
          }
        }
      }
    }
  }

  .my-comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 32px;
      font-weight: 400;
      line-height: 120%;
      padding-top: 80px;
      padding-bottom: 56px;
      color: rgba(137, 188, 217, 1);
    }

    .comments {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      // background-color: rgba(0, 0, 0, 0.326);
      gap: 8px;

      .comment {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p {
          position: absolute;
          top: 50%;
          text-align: center;
          font-size: 26px;
          font-weight: 600;
          line-height: 120%;
        }
      }
    }
  }

  .my-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: red;
    padding-top: 87px;

    .scroll-section {
      display: flex;
      position: absolute;
      right: 8px;
      top: 10px;

      button {
        border: none;
        border-radius: 40%;
        // background-color: rgba(252, 252, 252, 0.1);
        background-color: rgba(38, 46, 52, 1);

        img {
          width: 38px;
          height: 89px;
        }
      }

      button:hover {
        border-radius: 30px;
        background-color: rgba(248, 245, 236, 0.12);
      }
    }

    .contact-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      // background-color: yellow;

      h2 {
        font-size: 54px;
        font-weight: 400px;
        line-height: 120%;
        color: rgba(137, 188, 217, 1);
        padding-bottom: 80px;
      }

      .info {
        width: 100%;
        height: 124px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 36px;
        // background-color: red;

        .info-text {
          width: 30%;
          // background-color: yellow;
          // color: black;
        }

        .contact {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          font-size: 20px;
          font-weight: 400;
          line-height: 120%;
          // background-color: orange;

          .email-info {
            display: flex;
            gap: 20px;

            img {
              width: 21px;
              height: 20px;
            }
          }

          .email-info:hover {
            img {
              background: url('../../../../public/assets/icon/mail_blue.png');
              cursor: pointer;
            }

            p {
              color: rgba(137, 188, 217, 1);
              cursor: pointer;
            }
          }

          .tel-info {
            display: flex;
            gap: 20px;

            img {
              width: 20px;
              height: 23px;
            }
          }

          .tel-info:hover {
            img {
              background: url('../../../../public/assets/icon/tel_blue.png');
              cursor: pointer;
            }

            p {
              color: rgba(137, 188, 217, 1);
              cursor: pointer;
            }
          }
        }
      }

      .inputs {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 21px;
        // background-color: red;
        padding-bottom: 16px;
        flex-wrap: wrap;

        p {
          color: rgba(137, 188, 217, 1);
          font-size: 14px;
          font-weight: 400;
          line-height: 120%;
          padding-left: 27px;
        }

        input {
          width: 445px;
          height: 60px;
          border: 1px solid rgba(137, 188, 217, 1);
          border-radius: 30px;
          background-color: rgba(255, 255, 255, 0);
        }

        .msg-input {
          width: 63%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          input {
            width: 911px;
            height: 147px;
          }
        }
      }

      .accept-check {
        width: 63%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 120%;

          span,
          a {
            color: rgba(137, 188, 217, 1);
            text-decoration: none;
          }
        }

        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        img:hover {
          background: url('../../../../public/assets/icon/checkbox_hover.png');
          border-radius: 50%;
          overflow: hidden;
        }
      }

      .send-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 55%;
        padding-bottom: 180px;

        button {
          width: 80px;
          height: 40px;
          padding: 10px;
          border-radius: 30px;
          background-color: rgba(255, 255, 255, 0);
          border: 1px solid rgba(137, 188, 217, 1);
          color: rgba(137, 188, 217, 1);
          cursor: pointer;
        }

        button:hover {
          background-color: rgba(248, 245, 236, 0.12);
          border-radius: 30px;
        }
      }
    }
  }
}
