<section class="content">
  <!-- <p>content works!</p> -->

  <section id="whyMeSection" class="why-me">
    <div class="content-wrapper">
      <h2>{{ 'content-whyMe' | translate }}</h2>
      <section class="why-text">
        <section class="location">
          <img [src]="'assets/icon/location.png'" alt="Location Icon" />
          <p>
            <span class="blue">
              {{ 'content-im' | translate }}
            </span>
            {{ 'content-located' | translate }}
          </p>
        </section>
        <section class="why">
          <p>{{ 'content-locationText' | translate }}</p>
          <a href="#contactSection">
            <img [src]="'assets/icon/talkbtn.png'" alt="Talk Button" />
          </a>
        </section>
      </section>
    </div>
  </section>

  <section id="skillSection" class="my-skills">
    <div class="content-wrapper">
      <h2>{{ 'content-skills' | translate }}</h2>
      <section class="skill-section">
        <section class="skills">
          <!-- Skill Kacheln -->
          <img [src]="'assets/icon/angular.png'" alt="Angular" />
          <img [src]="'assets/icon/ts.png'" alt="TypScript" />
          <img [src]="'assets/icon/js.png'" alt="JavaScript" />
          <img [src]="'assets/icon/html.png'" alt="HTML" />
          <img [src]="'assets/icon/css.png'" alt="CSS" />
          <img [src]="'assets/icon/git.png'" alt="Git" />
          <img [src]="'assets/icon/supabase.png'" alt="Supabase" />
        </section>
        <section class="learning">
          <!-- Learning // Learning Bild austauschen in eigene Texte-->
          <img [src]="'assets/icon/learning.png'" alt="Learning Bubble" />
        </section>
      </section>
    </div>
  </section>

  <section id="projectSection" class="my-projects">
    <h2>{{ 'content-projects' | translate }}</h2>

    <div ngTabs>
      <div ngTabList selectionMode="follow" selectedTab="elPolloLoco">
        <div ngTab value="elPolloLoco">1. El Pollo Loco</div>
        <div ngTab value="join">2. Join</div>
        <div ngTab value="ideas">{{ 'content-projectIdeas' | translate }}</div>
      </div>
      <div class="sliding-window">
        <div ngTabPanel [preserveContent]="true" value="elPolloLoco">
          <ng-template ngTabContent>
            <section class="project-content">
              <div class="project-wrapper">
                <section class="text">
                  <div class="about">
                    <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
                    <h3>{{ 'content-projectsAbout' | translate }}</h3>
                  </div>
                  <p>{{ 'content-projectsAboutText' | translate }}</p>

                  <div class="about">
                    <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
                    <h3>{{ 'content-projectsOrganized' | translate }}</h3>
                  </div>
                  <p>{{ 'content-projectsOrganizedText' | translate }}</p>

                  <div class="about">
                    <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
                    <h3>{{ 'content-projectsExp' | translate }}</h3>
                  </div>
                  <p>{{ 'content-projectsExp-Text' | translate }}</p>
                </section>
                <section class="projects">
                  <h4>Technologies</h4>
                  <div class="tech-icons">
                    <img [src]="'assets/icon/js2.png'" alt="JS" />
                    <img [src]="'assets/icon/html2.png'" alt="HTML" />
                    <img [src]="'assets/icon/css2.png'" alt="CSS" />
                  </div>

                  <img
                    class="game-img"
                    [src]="'assets/img/el_pollo_loco.png'"
                    alt="El Pollo Loco"
                  />

                  <div class="project-btn">
                    <button class="test-btn btn">Live Test</button>
                    <button class="github-btn btn">GitHub</button>
                  </div>
                </section>
              </div>
            </section>
          </ng-template>
        </div>
        <div ngTabPanel [preserveContent]="true" value="join">
          <ng-template ngTabContent>
            <section class="project-content">
              <div class="project-wrapper">Daten folgen</div>
            </section>
          </ng-template>
        </div>
        <div ngTabPanel [preserveContent]="true" value="ideas">
          <ng-template ngTabContent>
            <section class="project-content">
              <div class="project-wrapper">Daten folgen</div>
            </section>
          </ng-template>
        </div>
      </div>
    </div>
  </section>

  <section class="my-comments">
    <div class="content-wrapper">
      <h2>{{ 'content-commtary' | translate }}</h2>

      <section class="comments">
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment1</p>
        </article>
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment2</p>
        </article>
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment3</p>
        </article>
      </section>
    </div>
  </section>

  <section id="contactSection" class="my-contact">
    <div class="content-wrapper">
      <section class="contact-content">
        <h2>{{ 'content-contact' | translate }}</h2>

        <section class="info">
          <p class="info-text">{{ 'content-contactTxt' | translate }}</p>
          <section class="contact">
            <div class="email-info">
              <img [src]="'assets/icon/email.png'" alt="Email Icon" />
              <p>E-Mail: andrestrauch@gmx.de</p>
            </div>
            <div class="tel-info">
              <img [src]="'assets/icon/tel.png'" alt="Tel Icon" />
              <p>Tel: 0174 000 000 00</p>
            </div>
          </section>
        </section>

        <section class="inputs">
          <section class="name-input">
            <p>{{ 'content-contactName' | translate }}</p>
            <input type="text" />
          </section>

          <section class="email-input">
            <p>{{ 'content-contactEmail' | translate }}</p>
            <input type="text" />
          </section>

          <section class="msg-input">
            <p>{{ 'content-contactMsg' | translate }}</p>
            <input type="text" />
          </section>
        </section>

        <section class="accept-check">
          <img [src]="'assets/icon/checkbox.png'" alt="Checkbox" />
          <p>
            {{ 'content-contactCheckTxt1' | translate }}
            <span>
              <a routerLink="imprint" role="link">
                {{ 'content-contactCheckSpan' | translate }}</a
              ></span
            >
            {{ 'content-contactCheckTxt2' | translate }}
          </p>
        </section>

        <div class="send-btn">
          <button>Send</button>
        </div>
      </section>

      <section class="scroll-section">
        <button>
          <a href="#heroSection">
            <img [src]="'assets/icon/arrowUp.png'" alt="Arrow Down" />
          </a>
        </button>
      </section>
    </div>
  </section>
</section>
