<section class="content">
  <!-- <p>content works!</p> -->

  <section id="whyMeSection" class="why-me">
    <div class="content-wrapper">
      <h2>Why Me</h2>
      <section class="why-text">
        <section class="location">
          <img [src]="'assets/icon/location.png'" alt="Location Icon" />
          <p><span class="blue">I am</span> located in Rendsburg</p>
        </section>
        <section class="why">
          <p>
            Why are you passionate about coding? You can include some key traits like: analytical
            thinking, creativity, persistence and collaboration. A problem-solving mindset is always
            nice to have.
          </p>
          <button>
            <a href="#contactSection">
              <img [src]="'assets/icon/talkbtn.png'" alt="Talk Button" />
            </a>
          </button>
        </section>
      </section>
    </div>
  </section>

  <section id="skillSection" class="my-skills">
    <div class="content-wrapper">
      <h2>My Skills</h2>
      <section class="skill-section">
        <section class="skills">
          <!-- Skill Kacheln -->
          <img [src]="'assets/icon/angular.png'" alt="Angular" />
          <img [src]="'assets/icon/ts.png'" alt="TypScript" />
          <img [src]="'assets/icon/js.png'" alt="JavaScript" />
          <img [src]="'assets/icon/html.png'" alt="HTML" />
          <img [src]="'assets/icon/css.png'" alt="CSS" />
          <img [src]="'assets/icon/git.png'" alt="Git" />
          <img [src]="'assets/icon/supabase.png'" alt="Supabase" />
        </section>
        <section class="learning">
          <!-- Learning // Learning Bild austauschen in eigene Texte-->
          <img [src]="'assets/icon/learning.png'" alt="Learning Bubble" />
        </section>
      </section>
    </div>
  </section>

  <section id="projectSection" class="my-projects">
    <h2>My Projects</h2>

    <section class="project-nav">
      <h3 class="p1">1. El Pollo Loco</h3>
      <h3 class="p2">2. Join</h3>
      <h3 class="p3">3. Ideas</h3>
    </section>

    <section id="" class="project-content">
      <div class="project-wrapper">
        <section class="text">
          <div class="about">
            <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
            <h3>About the project</h3>
          </div>
          <p>
            This App is a Slack Clone App. It revolutionizes team communication and collaboration
            with its intuitive interface, real-time messaging, and robust channel organization.
          </p>

          <div class="about">
            <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
            <h3>How I have organized my work process</h3>
          </div>
          <p>
            How do you keep your code clean and maintainable? Have you broken the project down into
            reusable modules or components? Focus on documentation, naming files, variables, classes
            and testing.
          </p>

          <div class="about">
            <img [src]="'assets/icon/small_circle.png'" alt="Blauer Kreis" />
            <h3>My work experience</h3>
          </div>
          <p>
            How many people were in the team and what was your role? Describe your tasks in 1-2
            sentences, for example: login form, dashboard or chat functionality. What technologies
            did you use? It is nice to mention good teamwork and cooperation.
          </p>
        </section>
        <section class="projects">
          <h4>Technologies</h4>
          <div class="tech-icons">
            <img [src]="'assets/icon/js2.png'" alt="JS" />
            <img [src]="'assets/icon/html2.png'" alt="HTML" />
            <img [src]="'assets/icon/css2.png'" alt="CSS" />
          </div>

          <!-- Screenshot vom Game -->
          <img class="game-img" [src]="'assets/img/el_pollo_loco.png'" alt="El Pollo Loco" />

          <div class="project-btn">
            <button class="test-btn btn">Live Test</button>
            <button class="github-btn btn">GitHub</button>
          </div>
        </section>
      </div>
    </section>
  </section>

  <section class="my-comments">
    <div class="content-wrapper">
      <h2>Need a teamplayer? Here’s what my colleagues say about me</h2>

      <section class="comments">
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment1</p>
        </article>
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment2</p>
        </article>
        <article class="comment">
          <img [src]="'assets/img/grey_circle.png'" alt="Grauer Kreis" />
          <p>Comment3</p>
        </article>
      </section>
    </div>
  </section>

  <section id="contactSection" class="my-contact">
    <div class="content-wrapper">
      <section class="contact-content">
        <h2>Contact me</h2>

        <section class="info">
          <p class="info-text">
            Encourage people to contact you and describe what role you are interested in. Show that
            you will add value to their projects through your work. Example: Feel free to get in
            touch with job offers or opportunities such as: ...
          </p>
          <section class="contact">
            <div class="email-info">
              <img [src]="'assets/icon/email.png'" alt="Email Icon" />
              <p>E-Mail: andrestrauch@gmx.de</p>
            </div>
            <div class="tel-info">
              <img [src]="'assets/icon/tel.png'" alt="Tel Icon" />
              <p>Tel: 0174 000 000 00</p>
            </div>
          </section>
        </section>

        <section class="inputs">
          <section class="name-input">
            <p>Your Name</p>
            <input type="text" />
          </section>

          <section class="email-input">
            <p>Your Email</p>
            <input type="text" />
          </section>

          <section class="msg-input">
            <p>Your Message</p>
            <input type="text" />
          </section>
        </section>

        <section class="accept-check">
          <img [src]="'assets/icon/checkbox.png'" alt="Checkbox" />
          <p>
            I´ve read the<span> <a routerLink="imprint" role="link"> privacy policy </a></span>
            and agree to the processing of my data as outlined.
          </p>
        </section>

        <div class="send-btn">
          <button>Send</button>
        </div>
      </section>

      <section class="scroll-section">
        <button>
          <a href="#heroSection">
            <img [src]="'assets/icon/arrowUp.png'" alt="Arrow Down" />
          </a>
        </button>
      </section>
    </div>
  </section>
</section>
