.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(137, 188, 217, 1);

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .left-content {
    }

    .mid-content {
    }

    .right-content {
      display: flex;
      gap: 8px;
    }
  }
}
